@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SUSE", sans-serif;
}
body{
  background-color: white;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}
.page-container {
  display: flex;
  height: 100%;
  width: 100%; 
  box-sizing: border-box; 
}

.containerSidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  background-color: white;
  padding-top: 20px;
  border-right: 1px solid #ccc;
  width: 350px; 
  height: 100vh; 
  position: fixed; 
  left: 0; 
  box-sizing: border-box;
}

.main-content {
  margin-top: 25px;
  margin-left: 375px; 
  padding: 20px; 
  flex-grow: 1; 
  overflow-y: auto; 
  height: 100%; 
  width:100%;
}