.programs{
    margin: 80px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px;
}
.program{
    background-color: rgb(248, 248, 248);
    color: rgb(210, 2, 2);
    font-size: 18px;
    padding: 45px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}
.program:hover {
    transform: scale(1.05);        /* Leichtes Vergrößern beim Hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stärkerer Schatten beim Hover */
  }
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background: #ac0202;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.5s;
}
.program:hover .caption{
    opacity: 1;
    padding-top: 0;
}

.caption ul {
    list-style-type: none;
    padding-left: 0;
    color: #fff;
}

.caption ul li {
    font-size: 16px;
    margin-bottom: 10px;
}

.caption ul li:hover {
    color: #a4a4a4;
    cursor: pointer;
    transition: 0.3s;
}

.caption ul li:before {
    content: '•';
    color: white;
    padding-right: 5px;
}